/* -------------------------
 * General style
------------------------- */
:root {
	--honda-clr-primary: #E76F51;
	--honda-clr-gray: #6C6C6C;
	--honda-clr-dark: #383838;
	--honda-clr-darker: #252B42;
	--honda-clr-blue: #23A6F0;
	--honda-font-primary: 'Poppins', sans-serif;
	--honda-font-secondary: 'Inter', sans-serif;
	--honda-font-footer: 'Manrope', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--honda-font-primary);
	line-height: 1.6;
	color: var(--honda-clr-gray);
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

a, button {
	display: inline-block;
	font-weight: 500;
	color: inherit;
	text-decoration: none;
	transition: all 0.3s ease;
}

a:hover, button:hover {
	color: var(--honda-clr-primary);
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

main > section:first-child {
	padding-bottom: 80px;
}

main > section + section {
	padding: 80px 0;
}



/* -------------------------
 * Common custom class style
------------------------- */
/* font family */
.honda-font-primary {
	font-family: var(--honda-font-primary);
}

.honda-font-secondary {
	font-family: var(--honda-font-secondary);
}

.honda-font-footer {
	font-family: var(--honda-font-footer);
}

/* text color */
.honda-text-primary {
	color: var(--honda-clr-primary);
}

.honda-text-gray {
	color: var(--honda-clr-gray);
}

.honda-text-dark {
	color: var(--honda-clr-dark);
}

.honda-text-darker {
	color: var(--honda-clr-darker);
}

.honda-text-blue {
	color: var(--honda-clr-blue);
}

/* font weight */
.honda-font-300 {
	font-weight: 300;
}

.honda-font-400 {
	font-weight: 400;
}

.honda-font-500 {
	font-weight: 500;
}

.honda-font-600 {
	font-weight: 600;
}

/* section heading */
.section-heading {
	margin-bottom: 50px;
	text-align: center;
}

.section-title {
	font-size: 48px;
	line-height: 1.5;
	text-transform: capitalize;
	color: #000;
}

.section-subtitle {
	font-size: 14px;
}

.section-subtitle.underlined {
	color: var(--honda-clr-primary);
	padding-bottom: 2px;
	position: relative;
	animation: blinking 2s linear infinite alternate-reverse;
}

@keyframes blinking {
	0%, 25% {
		opacity: 1;
	}
	100% {
		opacity: 0.35;
	}
}

.section-subtitle.underlined::after {
	content: "";
	width: 60px;
	height: 1px;
	background-color: var(--honda-clr-primary);
	position: absolute;
	top: calc(100% + 2px);
	left: 50%;
	transform: translate(-50%, -50%);
}

/* button */
.honda-btn-primary {
	border: 1px solid var(--honda-clr-primary);
	background-color: var(--honda-clr-primary);
	color: #fff;
	padding: 15px;
	border-radius: 5px;
	text-transform: capitalize;
}

.honda-btn-primary.btn-short {
	padding: 10px 24px;
}

.honda-btn-primary.btn-wide {
	padding: 10px 44px;
}

.honda-btn-primary.bordered {
	background-color: transparent;
	color: var(--honda-clr-primary);
}

.honda-btn-primary:hover {
	background-color: transparent;
	color: var(--honda-clr-primary);
}

.honda-btn-primary.bordered:hover {
	background-color: var(--honda-clr-primary);
	color: #fff;
}



/* -------------------------
 * Header
------------------------- */
#site_header {
	background: #264653;
	color: #fff;
	padding: 30px 0;
	margin-bottom: 60px;
}

/**
* Navbar
*/
#site_header .navbar {
	background: transparent;
}

.navbar-brand img {
	max-width: 100px;
	max-height: 70px;
}

.navbar-nav li + li {
	margin-left: 36px;
}

.navbar-nav li:last-child {
	margin-left: 100px;
}

/**
* Banner/Hero section
*/
.banner-section {
	padding: 70px 0;
}

.banner-image {
	background-image: url(../images/dotted-object.png);
	background-repeat: no-repeat;
	background-size: 100px;
	background-position: calc(100% - 15px) 10%;
}



/* -------------------------
 * Featured bikes section
------------------------- */
.featured-image {
	max-width: 288px;
}

.featured-image img {
    filter: grayscale(1);
}

.featured-image.focused img {
    filter: grayscale(0);
}



/* -------------------------
 * Testimonial section
------------------------- */
.testimonial-section .card {
	padding: 40px;
	transition: all 0.3s ease;
}

.testimonial-section .card:hover {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.testimonial-section .card img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	margin: 0 auto;
}

.rating-star > i {
	font-size: 18px;
	color: var(--honda-clr-primary);
}



/* -------------------------
 * FAQ section
------------------------- */
.accordion-item,
.accordion-item:first-of-type,
.accordion-item:last-of-type,
.accordion-item:not(:first-of-type) {
	margin-top: 16px;
	background: #fff;
	border: 1px solid #d5e5fb;
	border-radius: 5px;
}

.accordion-button,
.accordion-button:not(.collapsed) {
	color: var(--honda-clr-dark);
	background-color: transparent;
	box-shadow: none;
	outline: 0;
}

.accordion-button::after {
	content: "\f078";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	background-image: none;
	width: auto;
	height: auto;
	margin-left: 15px;
}

.accordion-button:not(.collapsed)::after {
	background-image: none;
}



/* -------------------------
 * Gallery section
------------------------- */
#bike_gallery {
	max-height: 350px;
}

.carousel-control-next, 
.carousel-control-prev {
	opacity: 0.75;
}

.carousel-control-next:focus, 
.carousel-control-next:hover, 
.carousel-control-prev:focus, 
.carousel-control-prev:hover {
	color: var(--honda-clr-primary);
	opacity: 1;
}



/* -------------------------
 * CTA section
------------------------- */
.cta-section {
	background-color: #f5f5f5;
}



/* -------------------------
 * Footer
------------------------- */
#site_footer {
	padding: 55px 0 80px;
}

.footer-menu a  {
	font-weight: normal;
}

.download-platform > a {
	max-width: 135px;
}



/* -------------------------
 * RESPONSIVE STYLE
------------------------- */
/**
* Large devices (desktops, less than 1200px)
*/
@media (max-width: 1199.98px) {
    
}

/**
* Medium devices - Tablet layout (tablets, less than 992px)
*/
@media (max-width: 991.98px) {
	.navbar-collapse {
		padding: 25px;
		background: #fff;
	}

	.navbar-nav li + li,
	.navbar-nav li:last-child {
		margin: 15px 0 0 0;
	}

	.navbar-nav li a {
		color: var(--honda-clr-darker);
	}

	.navbar-nav li a:hover {
		color: var(--honda-clr-primary);
	}

	.banner-image {
		background-position: calc(100% - 70px) 10%;
	}
}

/**
* Small devices - Mobile layout (landscape phones, less than 768px)
*/
@media (max-width: 767.98px) {
	main > section:first-child {
		padding-bottom: 40px;
	}

	main > section + section {
		padding: 40px 0;
	}

	.section-heading {
		margin-bottom: 30px;
	}

	.section-title {
		font-size: 34px;
	}

	#site_header {
		margin-bottom: 80px;
	}

	.banner-section {
		padding: 40px 0 0;
	}

	.banner-image {
		background-image: none;
	}

	.banner-text .section-subtitle {
		font-size: 16px;
	}

	.featured-section .section-heading {
		margin-bottom: 0;
	}

	.featured-image {
		margin-top: 100px;
	}

	.testimonial-section .card {
		padding: 30px;
	}

	#site_footer {
		padding: 70px 0 40px;
	}
}

/**
* Extra small devices (portrait phones, less than 576px)
*/
@media (max-width: 575.98px) {
    
}
